// Variables.

// Colour Options
$background: #007ba0;
$blue: #17bebb;
$lightGreen: #91cb3e;
$darkGreen: #53a548;

body {
  margin: 0;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: 500px) {
    
    .wrapper {
        width: 90%;
    }
}