html {
    background: $darkGreen;
}

main {
    background: $background;
    // padding: 50px 0px 20px;
    height: 100vh;
}

form {
    background: $background;
    padding: 20px 0px 50px;   
}

.results {
    height: 100vh;
}

.button {
    width: 40%;
    margin: 0 auto;
}

input[type=submit] {
    border: none;
    background: $darkGreen;
    color: white;
    padding: 10px;
    width: 100%;
}