// General

html {
    background: $darkGreen;
}

form {
    padding: 20px 0px 50px;   
}

.button {
    width: 60%;
    margin: 0 auto;
}

input[type=submit] {
    margin-top: 30px;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border: 5px solid transparent;

    &:hover {
        border: 5px solid white;
    }

    &:focus {
        border: 5px solid white;
    }
}

// Section One
main {
    background: $background;
    // padding: 50px 0px 20px;
    height: 100vh;
}

h1 {
    padding-top: 150px;
    width: 100%;
    line-height: 5rem;
}


.mainButton input[type=submit] {
    background: $darkGreen;
    box-shadow: 10px 10px 0 $lightGreen;  
}


// .kiwis {
//     display: flex;
//     justify-content: space-between;
//     position: relative;
//     bottom: 40px;
// }
// .kiwis img {
//     width: 45%;
//     border-bottom: $lightGreen;
// }

// Section two
.green {
    height: 100vh; 
}

h2 {
    padding-top: 100px;
}

.quizButton input[type=submit] {
    background: $background;
    box-shadow: 10px 10px 0 $blue;   
}

fieldset {
    width: 50%;
    margin: 0 auto;
}

input[type=radio] {
    display: block;
}

// Section three
.blue {
    height: 100vh;
    background: $background;
}
