html {
    font-size: 125%;
}

html {
  font-size: calc(2vw + 10px);
//   padding: 1em;
  line-height: 1.5;
}

h1 {
    // font-size: calc( 7.5rem + (7.5rem - 4rem) * ( (100vw - 400px) / ( 800 - 400) ));
    font-size: 4.2rem;
    line-height: 3.6rem;
    font-family: 'Vollkorn', serif;
    color: white;
    margin: 0;
    text-align: left;
}

.noun {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    margin: 10px 0;
}

.def {
    font-size: 2rem;
    line-height: 1.5rem;
    text-align: left;
}

.one {
    padding: 30px;

}

h2 {
    
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    text-align: center;
    color: white;
    // font-size: 5rem;
    margin: 10px;
    line-height: 4rem;
}

h3 {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    text-align: center;
    color: white;
    // font-size: 2.3rem;
    margin: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 10px;
    // font-size: 1.3rem;
}

input[type=submit] {
    font-family: 'Vollkorn', serif;
    // font-size: 2.5rem;
}

legend {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 10px;
    // font-size: 1.7rem;
}


// @media (max-width: 1200px) {
//     h1 {
//         font-size: 7rem;
//     }
// }

@media (max-width: 1200px) {
    h1 {
        font-size: 4rem;
        text-align: center;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 3.6rem;
    }

}

@media (max-width: 700px) {
    h1 {
        font-size: 3.3rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.9rem;
    }
    .one {
        font-size: 1.5rem;
        padding: 30px 10px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 2.6rem;
    }

    .wrapper {
        width: 90%;
    }
}